#pagelet_ego_pane, #pagelet_side_ads, #pagelet_photos_stream_side, #pagelet_photos_side, #pagelet_photos_side, #pagelet_rhc_footer, #pageFooter, #pagelet_games_rhc {display:none}
.fbx ._uaw,
.pagesTimelineLayout ._2t-d {width:1012px!important;}
#pagelet_bluebar #searchBarClickRef {max-width:460px!important;}
.hasLeftCol #globalContainer .uiContextualLayerPositioner._53ii {width:505px!important;}
.hasLeftCol #globalContainer #friends_reminders_dialog,
.hasLeftCol #globalContainer #event_reminders_dialog,
.hasLeftCol #globalContainer #pages_reminders_dialog {left:0px!important;}
.hasLeftCol #globalContainer .uiContextualLayerPositioner._53ii .fbRemindersContent .fbCalendarList .fbCalendarItemContent {width:320px!important}
.hasLeftCol #mainContainer {margin-left:0px!important;}
.hasLeftCol #leftCol {float:right!important;}
/**
 *
 * Styles below set corresponding list show/hide in sidebar navigation.
 *
 * each item in the list heigh 24px,
 * so make it height with 24*n in pixel and overflow hidden to make them look good.
 * Or, just comment line to make it appear normally.
 *
 */
  
/* .hasLeftCol #leftCol #sideNav #userNav ul {display:none} */
/* .hasLeftCol #leftCol #sideNav #pinnedNav ul {display:none} */
/* .hasLeftCol #leftCol #sideNav #groupsNav ul {display:none} */
/* .hasLeftCol #leftCol #sideNav #appsNav ul {display:none} */
.hasLeftCol #leftCol #sideNav #listsNav ul {display:none}
.hasLeftCol #leftCol #sideNav #interestsNav ul {display:none}
.hasLeftCol #leftCol #sideNav #pagesNav ul {height:48px;overflow:hidden}
.hasLeftCol #leftCol #sideNav #eventsNav ul {display:none}
  
/**
 *
 */
.hasLeftCol #contentCol {margin-left: 0!important;}
.hasLeftCol #contentCol .clearfix._3399,
.hasLeftCol #contentCol .clearfix:after {clear:left!important;}
.hasLeftCol #contentCol {margin-right:190px!important;padding-left:0px!important;}
.hasLeftCol ._1qkq {margin-left:0px!important;float:none!important;}
.hasLeftCol ._14i5 {right:0!important;}
.hasLeftCol #contentCol._5ss6 ._5rzs._5v6d ._5v6e {padding:0!important;border:none!important}
.hasLeftCol #contentCol._5v6h #rightCol {margin-bottom: -10px}
.timelineLayout #rightCol {margin-right:-25px!important;}
.hasLeftCol #rightCol {width:100%!important;padding-right:0!important;left:0!important;}
.hasLeftCol #rightCol .fixed_elem {left:0!important;}
.hasLeftCol #rightCol ._64a {margin-bottom:-16px}
.hasLeftCol #rightCol #pagelet_rhc_ticker_card {display:none;}
.hasLeftCol #rightCol #pagelet_group_rhc #pagelet_ego_contextual_group {display: none;}
.hasLeftCol #rightCol .groups_rhc ._4-u2._3-96._4-u8 {display:none; overflow: hidden;}
.hasLeftCol #rightCol .groups_rhc ._4-u2._3-96._4-u8:first-child {display:block;}
.hasLeftCol #rightCol .groups_rhc ._4-u2._3-96._4-u8:nth-child(2) {display:block;}
.hasLeftCol #rightCol .groups_rhc.groupSkyAux.pagelet #groupsNewMembersLink {width:25%;float:right;background:white;margin-top:10px;padding-left:10px;}
.hasLeftCol #rightCol .groups_rhc.groupSkyAux.pagelet #groupsNewMembersLink #groupsRHCMembersFacepile~div{display:none}
.hasLeftCol #rightCol ._64a ._64b {position:relative!important;top:0!important}
.hasLeftCol #rightCol ._64a ._64b+div {display:none!important}
.hasLeftCol #rightCol ._64a ._64b,
.hasLeftCol #headerArea,
.hasLeftCol #contentArea {width:100%!important}
.hasLeftCol #rightCol ._5rzs._5v6d ._5v6e {width:auto!important}
.hasLeftCol.SettingsPage #contentArea {width:745px!important}
.hasLeftCol #contentArea ._6l-.__c_ .fbStoryAttachmentImage.img {width:100%!important;height:auto!important}
.hasLeftCol #contentArea #stream_pagelet ._4-u2.mvm._495i {overflow:hidden!important}
.hasLeftCol #contentArea #stream_pagelet ._4-u2.mvm._54bx._54bz {display:none!important}
.hasLeftCol #contentArea #stream_pagelet #substream_1 {display:none!important}
.hasLeftCol .groupsNewMemberDialog .uiOverlay.uiContextualDialog.uiContextualDialogArrowRight {width:340px!important}
.hasLeftCol .groupsNewMemberDialog .uiOverlay.uiContextualDialog.uiContextualDialogArrowRight ._5nw- {width:250px!important}
.hasLeftCol #friends_reminders_dialog ._5v-0._53im {width:400px!important}
.hasLeftCol #friends_reminders_dialog .uiScrollableArea.fade.uiScrollableAreaWithShadow,
.hasLeftCol #friends_reminders_dialog .uiScrollableArea.fade.uiScrollableAreaWithShadow .uiScrollableAreaBody {width:398px!important}
.hasLeftCol #pageFooter {margin-left:0!important;}
#globalContainer ._3556 {float:right!important;}
#globalContainer ._3557 {padding-left:0px!important}
.pagesTimelineLayout #rightCol {width:156px!important;}
